body {
	background-image: linear-gradient(#192537, white,  rgb(172, 155, 126));
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: right;
} 
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: fantasy;
  font-stretch: expanded;
}

li a:hover {
  background-color: rgb(173, 156, 126);
}

.active {
  background-color: #111;
}

.header{
	background-color: rgb(25, 37, 55);
}

.appname{
	padding-left:570px;
	padding-top:45px;
}


h1{
	padding:30px;
	padding-left:50px;
  	  font-family: fantasy;
  	  font-variant: small-caps;
  font-stretch: expanded;
  	color:rgb(25, 37, 55);
}

button{
	color:grey;
	font-family:fantasy;
	background-color: tan;
	padding:10px;
	margin-left:30px;
	font-size:20px;
}

/* .appname{
	font-family:Impact, fantasy;
	font-variant: small-caps;
	font-stretch: ultra-expanded;
} */