
body {
	background-image: linear-gradient(#192537, white,  rgb(172, 155, 126));
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; Safari
  position: sticky;
  top: 0;
}

li {
  float: right;
} 
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: fantasy;
  font-stretch: expanded;
}

li a:hover {
  background-color: rgb(173, 156, 126);
}

.active {
  background-color: #111;
}

.header{
	background-color: rgb(25, 37, 55);
}

.appname{
	padding-left:570px;
	padding-top:45px;
}


h1{
	padding:30px;
	padding-left:50px;
	font-family: fantasy;
	font-variant: small-caps;
	font-stretch: expanded;
  	color:rgb(25, 37, 55);
}

.formbutton{
	color:black;
	font-family:fantasy;
    background-image: linear-gradient(rgb(172, 155, 126), white,  rgb(172, 155, 126));
	padding:10px;
	margin-left:30px;
	font-size:20px;
}

table{
	border: 3px solid black; 
	padding:7px; 
	font-size:18px; 
	margin:auto;
}
th{
	font-size:22px;
	font-family:fantasy;
}

td{
	padding:5px;
	font-family:sans-serif;
}

.toprow{
	bottom-border:5px solid black;
}
tr:hover {background-color: #f5f5f5;}

footer{
	padding-left:660px;
	padding-bottom:20px;
	font-size:15px;
	
}

.sortby{
	color:#c0c0c0;
	padding-left:150px;
	font-family:fantasy;
}

.flex-container{
	  display: flex;
	  padding-left:300px;
	
}


.login{
	padding:100px;
	
}

.register{
		padding:300px, 10px, 10px, 300px;
	
}

label{
	font-size:25px;
	font-family:fantasy;
}

.inputs {
  border: none;
  border-bottom: 2px solid rgb(173, 156, 126);
  background:none;
  font-size:20px;
  background-color:none;
  font-family:fantasy;
} 

h3{
	font-family:fantasy;
	padding-left:400px;
}

.input {
  border: none;
  border-bottom: 2px solid rgb(173, 156, 126);
  background:none;
  font-size:20px;
  background-color:none;
  font-family:fantasy;
}

.neww{
	padding-left:500px;
}

